<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>국토부 공간빅테이터</title>
</head>
<body>
	
	<div class="mainContainer">
		<div class="mainRightItem">
			<div class="articleWrap">
				<h4>test list</h4>
				<table class="tb_col" border="1"> 
				<tr th:each="list : ${csvList}">
					<td th:each="data: ${list.csvVal}" th:text="${data}">					
						
					</td>
				</tr> 
				</table>
				
			</div>
		</div>
	</div>
<script>

	
</script>